### github C++ defaults ###

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

### custom defaults ###

*.jsc
*.qmlc
*.user

# MAC OS
*.DS_Store

# editor files
.vscode/
.idea/

# build
/build*/
/compile_commands.json
/__*/
/_build*/
bin/
bin_*/
cmake-build-*/
lib/
lib_*/
out/

# python
.venv
__pycache__/

# misc
CMakeUserPresets.json
