*.jsc
*.qmlc
*.user
.clang-format
clangformat.sh

# MAC OS
*.DS_Store

# editor files
.vscode/
.idea/

# build
/build*/
/compile_commands.json
/__*/
/_build*/
bin/
bin_*/
cmake-build-*/
lib/
lib_*/
out/

# python
.venv

# misc
CMakeUserPresets.json
*.user
